.link {
  /* my-1 text-gray-800 */
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;

  --tw-text-opacity: 1;
  color: rgba(31, 41, 55, var(--tw-text-opacity));

  text-decoration: none;
}

.link:hover {
  /* hover:text-blue-500 */
  --tw-text-opacity: 1;
  color: rgba(59, 130, 246, var(--tw-text-opacity));
  cursor: pointer;
}

.linkLayout {
  /* flex-col hidden */
  flex-direction: column;

  display: none;
}

.nav {
  /* px-6 py-4 bg-white shadow */
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  padding-top: 1rem;
  padding-bottom: 1rem;

  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));

  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.between {
  /* container flex flex-col mx-auto */
  width: 100%;

  display: flex;

  flex-direction: column;

  margin-left: auto;
  margin-right: auto;
}

.button {
  /* block text-gray-800 */
  display: block;

  --tw-text-opacity: 1;
  color: rgba(31, 41, 55, var(--tw-text-opacity));

  /* TODO: user agent stylesheet無効化するためにcssペタ */
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  --tw-bg-opacity: 1;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  --tw-shadow: 0 0 #0000;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  text-transform: none;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
  padding: 0;
  line-height: inherit;
  -webkit-appearance: button;
  display: block;
  --tw-text-opacity: 1;
  color: rgba(31, 41, 55, var(--tw-text-opacity));
}

.button:hover {
  /* hover:text-gray-600 */
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity));
  cursor: pointer;
}

.button:focus {
  /* focus:text-gray-600 focus:outline-none */
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity));

  outline: 2px solid transparent;
  outline-offset: 2px;
}

.buttonLayout {
  /* flex items-center justify-between */
  display: flex;

  align-items: center;

  justify-content: space-between;
}

.buttonAnchor {
  /* text-xl font-bold text-gray-800 */
  font-size: 1.25rem;
  line-height: 1.75rem;

  font-weight: 700;

  --tw-text-opacity: 1;
  color: rgba(31, 41, 55, var(--tw-text-opacity));

  /* text-decoration: none; */
}

.svg {
  /* w-6 h-6 fill-current */
  width: 1.5rem;
  height: 1.5rem;

  fill: currentColor;
}

@media (min-width: 768px) {
  .link {
    /* md:mx-4 md:my-0 */
    margin-left: 1rem;
    margin-right: 1rem;

    margin-top: 0px;
    margin-bottom: 0px;
  }

  .linkLayout {
    /* md:flex md:flex-row md:-mx-4 */
    display: flex;

    flex-direction: row;

    margin-left: -1rem;
    margin-right: -1rem;
  }

  .between {
    /* md:flex-row md:items-center md:justify-between */
    flex-direction: row;

    align-items: center;

    justify-content: space-between;
  }

  .button {
    /* md:hidden */
    display: none;
  }

  .buttonAnchor {
    /* md:text-2xl */
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
