.h1 {
  /* font-bold text-gray-700 */
  /* font-weight: 700;
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, var(--tw-text-opacity)); */

  /* TODO: 上記だとうまくいかなかったのでcssペタ */
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: inherit;
  line-height: inherit;
  --tw-bg-opacity: 1;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  --tw-shadow: 0 0 #0000;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
}

.h1:hover {
  /* hover:underline */
  text-decoration: underline;
  cursor: pointer;
}
