.img {
  /* @media (min-width: 640px) .sm\:block { */
  display: block;
  /* } */
  object-fit: cover;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 9999px;
}
