.bg {
  /* bg-gray-800 text-white py-3 px-4 text-center fixed left-0 bottom-0 right-0 z-40 */
  --tw-bg-opacity: 1;
  background-color: rgba(31, 41, 55, var(--tw-bg-opacity));

  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));

  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  padding-right: 1rem;
  padding-left: 1rem;

  text-align: center;

  position: fixed;

  left: 0px;

  bottom: 0px;

  right: 0px;

  z-index: 40;
}

.a {
  /* underline text-gray-200 */
  text-decoration: underline;

  --tw-text-opacity: 1;
  color: rgba(229, 231, 235, var(--tw-text-opacity));
}
